@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Syne&display=swap');

*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Colors*/
    --primary: rgba(216, 207, 199, 1);
    --secondary: rgba(52, 53, 63, 1);
    --accent: rgba(216, 49, 80, 1);
    --alternative: rgba(30, 140, 129, 1);
    --text-color: rgba(52, 53, 63, 1);

    /* Spacings */
    --spacing-large: 6rem;
    --spacing-medium: 2.4rem;
    --spacing-small: 2rem;
    --spacing-xsmall: 1rem;

    /* Font-Family */
    --font-principal: 'DM Sans', sans-serif;
    --font-title: 'Syne'; sans-serif;

    /* Font-Sizes */
    --text-xlarge: 5.2em;
    --text-large: 3.6rem;
    --text-medium: 2.2em;
    --text-base: 1.6em;
    --text-small: 1.4em;
}

html{
    font-size: 62.5%;
}

body{
   background-color: var(--primary);
   font-family: var(--font-principal);
      
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: var(--font-title);
    color: var(--primary);
}

h1, h2, h3, h4{
    font-family: var(--font-title);
    text-align: center;
    
}

h1{
    color: var(--secondary);
    font-size: var(--text-xlarge);
}

h2{
    color: var(--secondary);
    font-size: var(--text-large);
}

h3{
    color: var(--secondary);
    font-size: var(--text-medium);
}

/*--- HELPERS ---*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: var(--spacing-small);
}


/*--- Anuncio ---*/
.anuncio__box--fucsia{
    background-color: var(--accent);
    font-size: var(--text-medium);
    text-decoration: none;
    padding: var(--spacing-xsmall), var(--spacing-small);
    text-align: center;
}
/*--- Anuncio ---*/


/*--- Nav Bar ---*/
nav{
    background-color: var(--secondary);    
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul{
    margin: var(--spacing-xsmall);
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin-right: var(--spacing-xsmall);
}

nav ul li a{
    color: var(--primary);
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-size: var(--text-base);
    
    
}

nav ul li a:hover{
    color: var(--accent);
    text-decoration: underline;

}

.logo__img--fluid{
    width: 75px;
    object-fit: contain;
    margin-top: var(--spacing-xsmall);
    display: flex;
    justify-content: center;
}
/*--- Nav Bar ---*/


/*--- Header ---*/
.encabezado__img--fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
/*--- Header ---*/


/*--- Main Section Parragraph---*/
main section p{
    color: var(--secondary);
    font-family: var(--font-principal);
    font-size: var(--text-medium);
    line-height: 1.8rem;
    margin: var(--spacing-small);
}
/* Formulario */
input[type=text], select, textarea {
    font-family: var(--font-principal);
    width: 100%; /* Full width */
    padding: var(--spacing-xsmall); /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: var(--spacing-small); /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: var(--spacing-xsmall) var(--spacing-small);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}

.iframe{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
}

/*--- Main Section Parragraph---*/


/*--- Footer ---*/
.pie{
    background-color: var(--secondary);
    text-align: center;
    padding: 30px;

}

.pie__icon--sm{
    width: 48px;
}
/*--- Footer ---*/


/*--- Box Model ---*/
.nosotros__articulo{
    width: 80%;
    height: auto;
    margin: 25px auto;
    padding: 20px;
}

.text-center{
    text-align: center;
}


/*--- Productos ---*/
#productos h2{
	text-transform: uppercase;
	font-size: var(--text-large);
	text-align: center;
	padding: var(--spacing-small) 0;
	margin: var(--spacing-small) 0;
}

#productos .galeria{
	margin: var(--spacing-small);	
	flex-wrap: wrap;
}
	#productos .galeria figure{
        margin: 7px;
		text-align: center;
		flex: 1 1 clamp(300px, 30%, 400px);
	}

		#productos .galeria figure img{
			border-radius: 5px;
			width: 100%;
		}

		#productos .galeria figure figcaption{
			font-size: var(--text-medium);
			color: var(--accent);
            font-family: 'Syne', sans-serif;
			padding: var(--spacing-xsmall) 0;
			
		}

		#productos .galeria p.price{
            font-size: var(--text-base);
			color: var(--secondary);
            font-family: 'DM Sans', sans-serif;
			padding-bottom: var(--spacing-xsmall);
			
}


/*--- GRID ---*/

#gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--spacing-xsmall);
}

.figure__img:nth-of-type(1) {
    grid-column: span 3;
}

.figure__img:nth-of-type(2) {
    grid-column: span 3;
}

.figure__img:nth-of-type(3) {
    grid-column: span 3;    
}

.figure__img:nth-of-type(4) {
    grid-column: span 3;    
}

.figure__img:nth-of-type(5) {
    grid-column: span 3;
}

.figure__img:nth-of-type(6) {
    grid-column: span 3;
}

.figure__img:nth-of-type(7) {
    grid-column: span 3;
}

.figure__img:nth-of-type(8) {
    grid-column: span 3;
}

#gallery__index {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: var(--spacing-xsmall);
}

.figure__img:nth-of-type(1) {
    grid-column: span 3;
}

.figure__img:nth-of-type(2) {
    grid-column: span 3;
}

.figure__img:nth-of-type(3) {
    grid-column: span 3;    
}

.figure__img:nth-of-type(4) {
    grid-column: span 3;    
}


/*--- RESPONSIVE ---*/

@media screen and (max-width: 879px) {
    #gallery {
        grid-template-rows: repeat(3, auto);
    }

    .figure__img:nth-of-type(1) {
        grid-column: span 4;
    }
    
    .figure__img:nth-of-type(2) {
        grid-column: span 4;
    }
    
    .figure__img:nth-of-type(3) {
        grid-column: span 4;    
    }
    
    .figure__img:nth-of-type(4) {
        grid-column: span 4;    
    }
    
    .figure__img:nth-of-type(5) {
        grid-column: span 4;
    }
    
    .figure__img:nth-of-type(6) {
        grid-column: span 4;
    }
    
    .figure__img:nth-of-type(7) {
        grid-column: span 6;
    }
    
    .figure__img:nth-of-type(8) {
        grid-column: span 6;
    }
}


@media screen and (max-width:480px) {
    nav {
        flex-direction: column;
        align-content: center;
    }

    #gallery {
        grid-template-rows: repeat(8, auto);
    }

    .figure__img:nth-of-type(1) {
        grid-column: span 12;
    }
    
    .figure__img:nth-of-type(2) {
        grid-column: span 12;
    }
    
    .figure__img:nth-of-type(3) {
        grid-column: span 12;    
    }
    
    .figure__img:nth-of-type(4) {
        grid-column: span 12;    
    }
    
    .figure__img:nth-of-type(5) {
        grid-column: span 12;
    }
    
    .figure__img:nth-of-type(6) {
        grid-column: span 12;
    }
    
    .figure__img:nth-of-type(7) {
        grid-column: span 12;
    }
    
    .figure__img:nth-of-type(8) {
        grid-column: span 12;
    }

}