// Main Section Parragraph

main section p{
    @include texts ($text-medium, $spacing-medium, $secondary-color);
}

// Formulario
input[type=text], select, textarea {
    font-family: $font-principal;
    width: 100%; 
    padding: $spacing-small;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: $spacing-small; 
    resize: vertical 
    
}
input[type=submit] {
    background-color: $alternative-color;
    color: $primary-color;
    padding: $spacing-xsmall $spacing-small;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: $alternative-color;
      }

  }
  

.container2 {
    border-radius: 5px;
    background-color: $primary-color;
    padding: $spacing-small;

}

.iframe{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
}


// Retro Customs H1

.info {
    @include flex(none, center, center);   
    &__box{  
        flex: 1 1 50%;                    
        padding: $spacing-medium;        
    }
    &__img{
        flex: 1 1 50%;
    }    
    &__description{
        @include texts($text-medium,$spacing-big,$text-color);
        text-align: center;
        float: left;
    }
    img{                
        max-width: 100%;                
    }   
}

// Nosotros Section

.nosotros__articulo{
    width: 100%;
    height: auto;
    margin: $spacing-medium auto;
    padding: $spacing-small;
    text-align: center; 
}


// Productos Section

// Productos 

#productos h2{
	text-transform: uppercase;
	font-size: $text-large;
	text-align: center;
	padding: $spacing-small 0;
	margin: $spacing-small 0;
}

.galeria{
    margin: $spacing-xsmall;
    padding: $spacing-xsmall;	
    flex-wrap: wrap;
    figure{
        @include flex(column, space-evenly, center);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 7px;
        text-align: center;
        flex: 1 1 clamp(300px, 30%, 400px);
        figcaption{
            font-size: $text-medium;
            color: $accent-color;
            font-family: $font-title;
            padding-bottom: $spacing-xsmall;
        }
        img{
            border-radius: 3px;
            width: 100%;
        }
        p.price{
            font-size: $text-medium;
            color: $secondary-color;
            font-family: $font-principal;
            padding-bottom: $spacing-xsmall;          
        }
    }
}

.form {
    @include texts ($text-base, none, none);
    h2{
        text-align: center;
    }
}