// Footer
footer{
    background-color: $secondary-color;
    font-family: $font-principal;
    font-size: $text-small;
    p{
        color: $primary-color;
    }
    h6{
        font-family: $font-title;
        font-size: $text-medium;
        color: $accent-color;
    }
}
 
.pie__icon--sm{
    width: 48px;
}