// Mixins

@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin texts ($size, $interlineado, $color) {
    font-size: $size;
    line-height: $interlineado;
    color: $color;
    margin: $spacing-small;
    padding: $spacing-xsmall;
    font-family: $font-principal;

}






// Extends

.btn-more{
    width: 100px;
    height: 30px;
    border: none;
    margin-bottom: $spacing-xsmall;
    background: $alternative-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    transition: 0.2s;    
    &:hover{
        background-color: darkgreen;
    }
}

.btn-rounded{
    @extend .btn-more;
    border-radius: 3px;
}

